{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pagina inicial</title>
    <link rel="stylesheet" href="{% static 'CSS/estilo.css' %}">
    <link href="{% static 'images/brain.png' %}" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
<header>
    <nav>
       <a class="logo" href="/">EducaGame</a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a href="{% url 'index' %}"> Inicio</a></li>
            <li><a href="{% url 'curiosidades' %}"> Curiosidades</a></li>
            <li><a href="{% url 'sobre' %}">Sobre</a> </li>
        </ul>
    </nav>
</header>

<div id="sobre-index">
    <h1>Uma nova maneira de aprender</h1>
</div>


<section id="info-container">
    <div id="imagem" >
        <img src="{% static 'images/imagem.jpg' %}"/>
    </div>
    <div id="texto">
        <p>A pandemia causada pelo coronavírus impactou a vida de inúmeras pessoas, tanto a vida social quanto o modelo
            de ensino. O Ensino à distância (EAD) existe como modelo alternativo cuja principal característica é o
            ensino à distância. O impacto da pandemia fez com que as escolas e universidades tivessem que se adaptar
            para um ensino remoto emergencial.
        </p>
        <br>
        <p>Com o isolamento social pensamos em desenvolver um site que você pode navegar e descobrir curiosidades sobre
            algo do seu interesse, e assim você pode acabar aprendendo algo que pode ajudar você no futuro. No momento
            contamos com uma base de dados pequena para pesquisa, então no momento você pode pesquisar sobre alguns
            estados e sua história, temos uma lista de sugestões no próprio campo para digitar, eles são os lugares
            disponíveis até o momento.
        </p>
        <br>
        <p> Para tudo isso acontecer temos uma api de cep vinculada ao nosso campo de digitação e filtrada no banco de
            dados, para ser redirecionado basta clicar <a href="{% url 'curiosidades' %}"><strong>aqui</strong> </a> ou
            então você pode clicar na aba <i><strong>Curiosidades</strong> </i>.
        </p>
    </div>
</section>


<footer>
        <p>Copyright© 2021 EducaGame - Todos os direitos reservados</p>
</footer>

<script type="text/javascript" src="{% static 'Js/scripts.js' %}"></script>
</body>
</html>