{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pagina inicial</title>
    <link rel="stylesheet" href="{% static 'CSS/estilo.css' %}">
    <link href="{% static 'images/brain.png' %}" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
<header>
    <nav>
       <a class="logo" href="/">EducaGame</a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a href="{% url 'index' %}"> Inicio</a></li>
            <li><a href="{% url 'curiosidades' %}"> Curiosidades</a></li>
            <li><a href="{% url 'sobre' %}">Sobre</a> </li>
        </ul>
    </nav>
</header>

<div id="sobre-index">
    <h1>Uma nova maneira de aprender</h1>
</div>


<section id="info-container">
    <div id="imagem" >
        <img src="{% static 'images/imagem.jpg' %}"/>
    </div>
    <div id="texto">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a mauris eros. Orci varius natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. Maecenas eleifend finibus lectus at gravida. Integer
            bibendum elementum aliquet. Praesent leo ipsum, ultrices ac elit sed, aliquam rhoncus risus.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus accumsan
            erat congue turpis consectetur venenatis. Nulla quis velit nec magna iaculis ornare et id ante.
            Fusce tincidunt, augue id eleifend pretium, turpis turpis venenatis risus, quis tempus ipsum nulla
            tempor augue. Vestibulum ac aliquam metus. Pellentesque habitant morbi tristique senectus et netus et
            malesuada fames ac turpis egestas. Pellentesque egestas gravida interdum. Aliquam erat volutpat.
            Cras euismod nisi ut sem tincidunt congue.

            Nam sed vestibulum purus. In hac habitasse platea dictumst. Sed porttitor elementum orci, id elementum
            sapien. Sed nulla orci, maximus sit amet porttitor sit amet, auctor a arcu. Etiam viverra vestibulum ligula
            pellentesque porttitor. Integer vitae velit semper, bibendum neque malesuada, sagittis dolor. Nam semper
            ipsum non turpis ultricies hendrerit.
        </p>
    </div>
</section>





<footer>
        <p>Copyright© 2021 EducaGame - Todos os direitos reservados</p>
</footer>

<script type="text/javascript" src="{% static 'Js/scripts.js' %}"></script>
</body>
</html>