{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jogo</title>
    <link rel="stylesheet" href="{% static 'CSS/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/pageJogo.css' %}">
    <link href="{% static 'images/brain.png' %}" rel="shortcut icon" type="image/x-icon" />


    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<header>
    <nav>
       <a class="logo" href="/">EducaGame</a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a href="{% url 'index' %}"> Inicio</a></li>
            <li><a href="{% url 'curiosidades' %}"> Curiosidades</a></li>
            <li><a href="{% url 'sobre' %}">Sobre</a> </li>
        </ul>
    </nav>
</header>

<div id="sobre-jogo">
    <h1>Curiosidades sobre os estados</h1>
</div>

<section id="section-jogo">
    <div id="formulario">
        <p style="color: red;">{{erro}}</p>
        <form method="get" autofocus>
            <input name="cep" id="cep" list="historico" placeholder="Escolha um cep" autocomplete="off" autofocus>
            <button >Pesquisar</button>

            <datalist id="historico">
                <option value="23580-430">RJ</option>
                <option value="40020-315">BA</option>
                <option value="78875-000">MT</option>
                <option value="39853-000">MG</option>
                <option value="01153-000">SP</option>
            </datalist>
        </form>
    </div>

    <div id="texto-formulario">
        {% for estado in estados %}
             <p>{{estado.descricao}}</p>
        {% endfor%}
    </div>
</section>

<footer id="footer-jogo">
        <p>Copyright© 2021 EducaGame - Todos os direitos reservados</p>
</footer>

<script type="text/javascript" src="{% static 'Js/scripts.js' %}"></script>
</body>
</html>