{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sobre</title>
    <link rel="stylesheet" href="{% static 'CSS/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/sobre.css' %}">
    <link href="{% static 'images/brain.png' %}" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<header>
    <nav>
       <a class="logo" href="/">EducaGames</a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a href="{% url 'index' %}"> Inicio</a></li>
            <li><a href="{% url 'jogo' %}"> Jogar</a></li>
            <li><a href="{% url 'sobre' %}">Sobre</a> </li>
        </ul>
    </nav>
</header>


<section>
    <div id="foto1">
        <img/>
    </div>
     <div id="foto2">
        <img/>
    </div>
     <div id="foto3">
        <img/>
    </div>
     <div id="foto4">
        <img/>
    </div>
     <div id="foto5">
        <img/>
    </div>
</section>


<footer>
        <p>Copyright© 2021 EducaGames - Todos os direitos reservados</p>
</footer>

<script type="text/javascript" src="{% static 'Js/scripts.js' %}"></script>
</body>
</html>