{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sobre</title>
    <link rel="stylesheet" href="{% static 'CSS/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/sobre.css' %}">
    <link href="{% static 'images/brain.png' %}" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<header>
    <nav>
       <a class="logo" href="/">EducaGames</a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a href="{% url 'index' %}"> Inicio</a></li>
            <li><a href="{% url 'jogo' %}"> Jogar</a></li>
            <li><a href="{% url 'sobre' %}">Sobre</a> </li>
        </ul>
    </nav>
</header>

<div id="sobre">
    <h1>Desenvolvedores</h1>
</div>

<section>
    <div class="foto">
        <img src="{% static 'images/foto1.png' %}"/>
        <p>Sighy</p>
    </div>
     <div class="foto">
        <img src="{% static 'images/foto2.png' %}"/>
         <p>Tayná</p>
    </div>
     <div class="foto">
        <img src="{% static 'images/foto3.png' %}"/>
         <p>Jonathan</p>
    </div>
     <div class="foto">
        <img src="{% static 'images/foto4.png' %}"/>
         <p>João</p>
    </div>
     <div class="foto">
        <img src="{% static 'images/foto5.png' %}"/>
         <p>Monvar</p>
    </div>
</section>


<footer>
    <p>Copyright© 2021 EducaGames - Todos os direitos reservados</p>
</footer>

<script type="text/javascript" src="{% static 'Js/scripts.js' %}"></script>
</body>
</html>