section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin: 3% auto;
    align-items: center;
    max-width: 910px;

}
section p{
    padding: 10px;
    cursor: default;
}

.icone{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 10px;
}
.icone a:hover{
    opacity: 0.7;
}


@media only screen and (max-width: 600px){
    section{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        margin: 5% auto;
        align-items: center;
        max-width: 800px;

    }

}